@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
	@apply text-white font-sans text-2xl;
	background-color: #36454f;
}

.smooth {
	@apply transition-all ease-in-out duration-200;
}

.h-screen {
	height: calc(100vh - 4rem);
}

.text-shadow {
	text-shadow:
		0 2px 4px rgba(0, 0, 0, 0.1),
		rgba(0, 0, 0, 0.1);
}

.text-shadow-md {
	text-shadow:
		0 4px 8px rgba(0, 0, 0, 0.12),
		0 2px 4px rgba(0, 0, 0, 0.12);
}

.text-shadow-lg {
	text-shadow:
		0 15px 30px rgba(0, 0, 0, 0.15),
		0 5px 15px rgba(0, 0, 0, 0.15);
}

.text-shadow-xl {
	text-shadow:
		0 15px 30px rgba(0, 0, 0, 0.2),
		0 5px 15px rgba(0, 0, 0, 0.2);
}

.text-shadow-2xl {
	text-shadow:
		0 15px 30px rgba(0, 0, 0, 0.25),
		0 5px 15px rgba(0, 0, 0, 0.25);
}

.text-shadow-none {
	text-shadow: none;
}
